.contact {
   background-color: rgb(19, 2, 49);
   height: auto;
   min-height: 80vh;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   position: relative;
}

.title {
  position: absolute;
  top: -10px;
  font-weight: 500;
}
form {
   display: flex;
   flex-direction: column;
   width: 400px;
   margin-top: 0px;
}

input {
   height: 50px;
}

input, textarea {
   margin: 4px;
   border: none;
   text-indent: 10px;
   outline: none;
   font-size: 18px;
   border-radius: 10px;
   border: 3px solid #60BFC1;
}

input:hover, textarea:hover {
   border: 3px solid orange;
}

.btn-send {
   margin-top: 30px;
   width: 250px;
   border: none;
   padding: 10px;
   font-size: 25px;
   align-self: center;
   cursor: pointer;
   background-color: #60BFC1;
   color: white;
   border-radius: 10px;
}

.btn-send:hover {
  background-color: white;
  color: orange;
  font-weight: 600;
  border: 2px solid orange;
}

.socialLinks {
  margin-top: -60px;
  margin-left: 20px;
}

.socialLinks ul {
  display: flex;
  margin: 10px 50px;
  list-style-type: none;
}

.socialLinks ul a {
  text-decoration: none;
  color: #60BFC1;
  padding: 45px 25px;
  font-size: 60px;
}

.socialLinks ul li i:hover  {
  transform: scale(1.2);
  transform:rotateY(360deg);
  transition: .7s;
  color: orange;
}

@media screen and (max-width: 920px) {
 .contact {
  flex-direction: column;
 }
form {
  margin-top: 120px;
  width: 300px;
}
 .socialLinks {
  margin-top: 50px;
 }
 .socialLinks ul a {
  font-size: 35px;
  padding: 45px 15px;
 }
}