.footer {
  height: auto;

}

.currentYear {
 font-size: 25px; 
 color:rgba(46,91,173,0.6);
 letter-spacing: 2px;
   font-family: 'Noto Serif JP', serif;
}

@media screen and (max-width: 900px) {
  .currentYear {
    font-size: 15px;
  }
}