@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-salmon {
  background-color: salmon;
  color: white;
}

body {
  background-color: aliceblue;
}

.menu {
  display: flex;
}
.nav {
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

.logo {
  color: rgb(31, 31, 199);
  margin: 5px 40px;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: 'Noto Serif JP', serif;
}

.menuLinks ul  {
  display: flex;
  align-items: center;
  margin: 10px 40px;
  list-style-type: none;
}

.menuLinks ul li  {
  margin: 5px 15px;
 
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.menuLinks ul li a {
  text-decoration: none;
  color: white;
  text-shadow:  2px 4px 4px rgba(5, 43, 114, 0.6);
  padding: 0 5px;
}

.menuLinks ul li a:hover {
  transition: .3s;
  border-left: 3px solid rgba(5, 43, 114, 0.6);
  border-right:3px solid rgba(5, 43, 114, 0.6);

}

.bars {
  display: block;  
}


.fas {
  width: 40px;
  height: 40px;
  background-color: rgba(5, 43, 114, 0.6);
  border: none;
}

@media screen and (min-width: 900px) {
  .bars {
    display: none;
  } 
}


@media screen and (max-width: 900px) {
  .nav {
    flex-direction: column;
  }
  .menuLinks ul li a {
    margin: 5px 5px;
  padding: 0 0px;
}


  /*.nav {
    position: relative;
  }
    .menuNav {
    display: none;
    width: 300px;
    height: 500px;
    
     background-color: aqua;
     position: absolute;
     flex-direction: column;
     justify-content: center;
     
     top: 100px;
     right: 100px;

  }  
  .menuNav .link  {
    display: none;
    font-size: 35px;
    align-self: center;
  }     */                                     
}
